@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
	body .button {
		@include m.resetA;
		@include m.resetButton;
		padding: f.rem(10) f.rem(16);
		display: inline-block;
		background-color: var(--black);
		color: var(--white);
		font-size: f.rem(16);
		line-height: f.rem(18);
		font-weight: 600;
		border-radius: f.rem(6);
		transition: all 0.3s;

		&:hover {
			background-color: var(--black-hover);
		}

		//classes modificatrices de couleur
		&--primary {
			background-color: var(--primary);

			&:hover {
				background-color: var(--primary-500);
			}
		}

		&--secondary {
			background-color: var(--grey-500);

			&:hover {
				background-color: var(--grey-400);
			}
		}

		&--danger {
			background-color: var(--red-500);

			&:hover {
				background-color: var(--red-400);
			}
		}

		&__delete {
			float: right;
			margin-bottom: 0.5rem;
			width: 6rem;
			padding: 0.75rem;
			border: none;
			border-radius: 8px;
			background-color: var(--black);
			color: var(--surface);
			font-weight: 500;
			cursor: pointer;
			transition: all 0.2s ease;

			&:hover {
				background-color: var(--accent-500);
				color: var(--surface);
			}
		}

		//classes modificatrices de taille
		&--lg {
			padding: f.rem(16) f.rem(24);
			width: 100%;
		}

		&--sm {
			padding: f.rem(8) f.rem(12);
			font-size: f.rem(14);
			line-height: f.rem(16);
		}

		&__top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 3rem;
		}
	}
}