// _container.scss
@use "../partials/variables" as vars;
@use "../partials/mixins" as m;

@layer components {
  .container {
    // Mobile first
    width: 100%;
    margin: 0 auto;
    padding: 1rem; // 16px
    flex: 1 0 auto;

    // Adaptation desktop
    @each $name, $value in vars.$breakpoints {
      @include m.media-min($name) {
        $max-width: calc(#{$value} * 1px - 4rem); 
        padding-left: 2rem; // 32px
        padding-right: 2rem; // 32px
        
        
        max-width: calc(#{$value}px - 4rem); 
        
      }
    }
  }
}