@use "../partials/variables" as v;

@layer components {
	.container {
		flex: 1 0 auto;
		margin: 0 auto;
		padding: 1rem;
		width: 100%;

		/*@each $name, $value in v.$breakpoints {
			@media screen and (min-width: $value) {
				max-width: $value;
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}*/
	}
}