@use "../partials/functions" as f;
@use "../partials/mixins" as m;
@use "../partials/utilities" as u;

@layer components {
    .theme__button {
        @include m.flexbox(row, center, center, f.rem(8));
        padding: f.rem(8) f.rem(16);
        border-radius: f.rem(6);
        background-color: var(--surface);
        color: var(--text-primary);
        border: f.rem(1) solid var(--border);
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: var(--text-secondary);
            color: var(--background);
        }

        .theme-icon {
            width: f.rem(20);
            height: f.rem(20);
        }
    }

    .navbar__actions {
        @include m.flexbox(row, null, center, f.rem(16));
    }
}