@use "../partials/variables" as *;
@use "sass:color";
@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
    .errors {
        background-color: map-get($colors, "accent");
        color: #fff;
        padding: 1rem;
        border-radius: 6px;
        margin-bottom: 1rem;
        text-align: left;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
    }
}