@use "../partials/variables" as *;
@use "sass:color";
@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
    .errors {
        background-color: var(--accent);
        color: var(--white);
        padding: f.rem(16);
        border-radius: f.rem(6);
        margin-bottom: f.rem(16);
        text-align: left;
        box-shadow: 0 f.rem(4) f.rem(6) var(--shadow-color);

        ul {
            @include m.resetList;

            li {
                color: var(--text-color);
                padding: f.rem(8) 0;
                border-bottom: f.rem(1) solid var(--neutral-600); //separate errors with border
            }

            li:last-child {
                border-bottom: none;
            }
        }
    }
}