@use "../partials/variables" as *;
@use "sass:color";
@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
    .logo {
        display: block;
        max-width: 150px;
        height: auto;
        margin: 1rem 0;
        transition: transform 0.3s ease;
        filter: drop-shadow(0 2px 4px map-get($colors, "shadow"));

        @media (min-width: map-get($breakpoints, "sm")) {
            margin: 1.5rem 0;
            max-width: 175px;
        }

        @media (min-width: map-get($breakpoints, "md")) {
            margin: 2rem 0;
            max-width: 200px;
        }

        &:hover {
            transform: scale(1.05);
        }

        //dark mode use
        @media (prefers-color-scheme: dark) {
            filter: drop-shadow(0 2px 4px color.scale(map-get($colors, "shadow"), $alpha: -50%)) brightness(0.95);
        }
    }
}