@use "../partials/functions" as f;
@use "../partials/mixins" as *;
@use "sass:color";
@use "../partials/variables" as *;

@layer components {
    .modal {
        @include flexbox(null, center, center);
        display: none;
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        background: var(--black);

        &__content {
            background: var(--link-secondary);
            padding: f.rem(20);
            border-radius: f.rem(8);
            text-align: center;
            color: var(--text-color);
        }
    }
}