@use "fonts";
@use "variables" as *;
@use "sass:color";
@use "functions" as f;

@layer base {
    :root {
        @each $name, $color in $colors {
            @if ($name =="dark") {
                //skip dark map in main default processing
            }

            @else if ($name =="black" or $name =="white") {
                --#{$name}: #{$color};
            }

            @else {
                --#{$name}: #{$color};

                $baseHue: color.hue($color);
                $baseSaturation: color.saturation($color);
                $baseLightness: color.lightness($color);

                @each $shade, $percent in $shades {
                    $shadeLightness: if($percent <=$baseLightness and ($percent + 8%) >=$baseLightness,
                            $baseLightness,
                            $percent);
                    --#{$name}-#{$shade}: #{color.change($color, $lightness: $shadeLightness)};
                }
            }
        }

        //darkmodes
        &[data-theme="dark"] {

            @each $name, $color in $dark-theme {
                --#{$name}: #{$color};
            }

            @each $name, $color in $colors {
                @if ($name !="dark" and $name !="black" and $name !="white" and type-of($color)=="color") {

                    @if not map-has-key($dark-theme, $name) {
                        $darkColor: $color;

                        $darkColor: color.adjust($darkColor,
                                $saturation: 10%,
                                $lightness: if(color.lightness($color) > 50%,
                                    -40%,
                                    20%));

                        --#{$name}: #{$darkColor};

                        @each $shade, $percent in $shades {
                            $darkShade: if($percent >=50%,
                                    color.adjust($darkColor, $lightness: (
                                        $percent - 50%) * -0.8),
                                color.adjust($darkColor, $lightness: (
                                    50% - $percent) * 0.8)
                            );
                        --#{$name}-#{$shade}: #{$darkShade};
                    }
                }
            }
        }
    }
}
}

body {
    font-family: fonts.$font1;
    background-color: var(--background, var(--white));
    color: var(--text-primary, var(--black));
    transition: background-color 0s ease, color 0s ease;
}

input {
    padding: f.rem(10) f.rem(16);
    //background-color: var(--surface, var(--white));
    color: var(--text-primary, currentColor);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}