@use "variables" as vars; 

@mixin resetA {
	text-decoration: none;
	color: inherit;
}

@mixin resetList {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin resetButton {
	border: none;
	//background-color: transparent;
	padding: 0;
	cursor: pointer;
}

@mixin flexbox($direction: null,
	$justify: null,
	$align: null,
	$gap: null,
	$wrap: null) {
	display: flex;

	@if ($direction !=null) {
		flex-direction: $direction;
	}

	@if ($justify !=null) {
		justify-content: $justify;
	}

	@if ($align !=null) {
		align-items: $align;
	}

	@if ($gap !=null) {
		gap: $gap;
	}

	@if ($wrap !=null) {
		flex-wrap: $wrap;
	}
}

@mixin dark-mode {
	[data-theme="dark"] & {
		@content;
	}
}
// Mobile-first (min-width)
@mixin media-min($key) {
	$breakpoint: map-get(vars.$breakpoints, $key);
	@media screen and (min-width: $breakpoint) {
	  @content;
	}
  }
  
  // Desktop-first (max-width)
  @mixin media-max($key) {
	$breakpoint: map-get(vars.$breakpoints, $key);
	@media screen and (max-width: ($breakpoint - 1px)) {
	  @content;
	}
  }